*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Thiết lập menu */
.container{
    max-width: 1500px;
    margin: 0 auto;
}

header{
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #f5f5f5;
}

header.sticky{
    background-color: rgb(108,87,68);
}

header.sticky #main-menu li a{
    color: #f8f8f8f8;
}

header.sticky #main-menu>li.has-child::after{
    font: var(--fa-font-solid);
    content: '\f107';
    color: #f8f8f8;
    position: absolute;
    top: 0;
    right: 0;
    padding: 26px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo{
    padding: 5px 0;
}

#logo img{
    max-width: 70px;
    height: auto;
    background-size: cover;
}

#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li{
    position: relative;
}

#main-menu li a{
    color: rgb(108,87,68);
    display: block;
    padding: 26px 40px;
    text-decoration: none;
    
}

#main-menu ul.sub-menu{
    position: absolute;
    background: rgb(108,87,68);
    padding: 15px 0;
    list-style: none;
    width: 200px;
    border: 1px solid #333;
    display: none;
}

#main-menu li:hover>ul.sub-menu{
    display: block;
}

#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #333;
    left: 0;
}

#main-menu ul.sub-menu li:last-child a{
    border: none;
}

#main-menu ul.sub-menu ul.sub-menu{
    left: 200px;
    top: -15px;
}

#main-menu>li>a{
    position: relative;
}

#main-menu>li.has-child::after{
    font: var(--fa-font-solid);
    content: '\f107';
    color: rgb(108,87,68);
    position: absolute;
    top: 0;
    right: 0;
    padding: 26px 0;
}

#main-menu .sub-menu li:hover>a{
    color: red;
}

#main-menu .sub-menu>li.has-child::after{
    font: var(--fa-font-solid);
    content: '\f105';
    color: #f8f8f8;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 0;
}

#main-menu .sub-menu>li.has-child:hover::after{
    color: red;
}

.giohang-dangnhap-dangky{
    padding: 18px 0;
}

.giohang-dangnhap-dangky a button i{
    padding: 8px 8px;
}

.giohang-dangnhap-dangky a button{
    border-radius: 5px;
    cursor: pointer;
}

.giohang-dangnhap-dangky a button.logout{
    padding: 7px 5px;
    border: none;
    border-radius: 5px;
}

.giohang-dangnhap-dangky a button.logout:hover{
    background-color: rgb(187, 187, 187);
}

.search-container {
    position: relative;
    margin-top: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.search-container a{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #9e9e9e;
  }

.search-container button[type=submit]:hover {
    background-color: rgb(187, 187, 187);
}

/* --------------------------------------------------------------------------------------------------------- */

.product-image img {
    width: 200px;
    height: 230px;
}
.new-sp{
    background-color: #a7a7a717;
    max-width: 1100px; 
    margin: 30px auto; 
    padding: 90px 5%; 
    border-radius: 10px;
}
.new-sp h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;

}
.product-image button{ 
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgb(108,87,68); 
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.product-image button:hover{
    background-color: rgb(128, 104, 82); 
    transform: scale(0.9);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.product-image{
    flex-basis: 25%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    transform: translateZ(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    font-weight: bold;
}
.product-image:hover{
    transform: translateZ(30px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}
.product .product-image{
    align-items: center;
}
.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;

}
.product-image h4 , p{
    padding: 5px;
}
.product-title{
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

/* ------------phân trang------------------------------------------------------------------------------- */
.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    padding-left: 1040px;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ccc;
}

.pagination a.active {
    background-color: rgb(108,87,68);
    color: white;
    border-color:  rgb(108,87,68);
}

.pagination a:hover:not(.active) {
    background-color: #f1f1f1;
}

.pagination a.prev, .pagination a.next {
    background-color: transparent;
    border: none;
}

.pagination a.prev:hover, .pagination a.next:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* ----------------footer---------------------------------------------------------------------------------- */

.footer {
    background-color: rgb(108,87,68);
    padding: 50px 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer p{
    color: white;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer form {
    margin-top: 20px;
}

.footer form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer form button {
    padding: 10px 20px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.footer form button:hover {
    background-color: darkorange;
}
.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer .col-md-3 {
    flex: 1; /* Phần tử co dãn để điều chỉnh chiều cao */
    padding: 0 15px;
}

/* ---------------trở về đầu trang------------------- */
#backToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    background-color: #b9b9b9; 
    color: black; 
    border: none; 
    border-radius: 50%; 
    cursor: pointer; 
    padding: 15px; 
    transition: opacity 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng transform */
}

#backToTopBtn:hover {
    background-color: #fafafa; 
    transform: scale(1.1); /* Hiệu ứng phóng to khi di chuột qua */
}
