@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.logo img{
    width: 120px;
    height: auto;
}

.wrapper{
    height: 700px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.wrapper .section{
    width: 727px;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    /* gap: 20px; */
    background-color: rgb(108,87,68);
    /* margin: 260px 0; */
    border-radius: 20px;
    padding: 60px;
}

.wrapper .section .left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.wrapper .section .left-section h3{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: aliceblue;
}

.wrapper .section .right-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.wrapper .section .right-section h3{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 5.0px;
}

.wrapper .section .right-section .form .name-account input{
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 7px 10px;
    width: 210px;
}

.wrapper .section .right-section .form .pass input{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 7px 10px;
    width: 210px;
}

.wrapper .section .right-section .form .forgot-password{
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
}

.wrapper .section .right-section .form p{
    font-size: 12px;
}

.wrapper .section .right-section .login-signup button{
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
}

.wrapper .section .right-section .login-signup .login{
    background-color: rgb(108,87,68);
    border: none;
}

.wrapper .section .right-section .login-signup .signup{
    background-color:#DB0916;
    ;
    border: none;
}
